.Button {
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.Accent:hover {
  background: #100f6b;
}

.Accent {
  background: #312eb5;
}
